version: "3.8"
services:
  frontend:
    build: ./frontend
    # image: ${DOCKER_HUB_CREDS_USR}/frontend:latest
    image: frontend:latest
    container_name: frontend
    ports:
    - target: 5000
      published: 80
  backend:
    build: ./backend
    # image: ${DOCKER_HUB_CREDS_USR}/backend:latest
    image: backend:latest
    container_name: backend
    environment:
      DATABASE_URI:
      CREATE_SCHEMA:
    ports:
    - target: 5000
      published: 5000