{% extends "layout.html" %}
{% block body %}

    <h2>Teams</h2>
    {% for team in all_teams %}
        <p>
            Team ID: {{ team["team_id"] }}<br>
            Game: {{ team["game"] }}<br>
        </p>    
    {% endfor %}
    <!-- <h2>Players</h2>
    {% for player in all_players %}
        <p>
            Player ID: {{ team["player_id"] }}<br>
            First Name: {{ team["first_name"] }}<br>
            Second Name: {{ team["last_name"] }}<br>
        </p>    
    {% endfor %} -->
{% endblock body %}