{% extends "layout.html" %}
{% block body %}

    <h2>Teams</h2>
    {% for team in all_teams %}
        <p>
            Team ID: {{ team["team_id"] }}<br>
            Name: {{ team["team_name"] }}<br>
            Game: {{ team["game"] }}<br>
        </p>
        
        <h3>Players</h3>
        {% for players in team["org"] %}
        <p>
            Player ID: {{ players["player_id"] }}<br>
            First Name: {{ players["first_name"] }}<br>
            Last Name: {{ players["last_name"] }}<br>
        </p>

        {% endfor %}
    {% endfor %}
{% endblock body %}